form label {
    font-weight: bold;
    display:block;/*Necessary for the first letter*/
}
form label:first-letter{
    text-transform: uppercase;
}
.submitbutton{
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.simplebutton{
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .resulttable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .resulttable td, .resulttable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .resulttable tr:nth-child(even){background-color: #f2f2f2;}
  
  .resulttable tr:hover {background-color: #ddd;}
  
  .resulttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }